.tailleChamps {
    width: 26%;
    text-align: center;
}

.conteneurSerie {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tailleChamps img{
    max-width: 200px;
    max-height: 200px;
}