.wrapperStyle2 {
    padding-top: 0px;
}

.updateinfos {
    padding-left: 1200px;
}

h3 {
    padding-left: 30px;
}

h2 {
    padding-left: 10px;
}

.biblioLink {
    display: flex;
    justify-content: center;
}